.content {
  margin-top: 700px;
  max-width: 1448px;
}
.SectionVirtualHeadsets {
  max-width: 1448px;
  height: 550px;
  display: flex;
  justify-content: space-between;
}
.sectionVHLeft {
  width: 40%;
  position: relative;
}
.elipse {
  position: absolute;
  top: 50px;
  right: -50px;
}
.untitled {
  position: absolute;
  top: 0;
  right: 0;
}
.sectionVHRight {
  width: 60%;
  text-align: center; /* Центрирует заголовок по горизонтали */
  margin-left: 100px;
}
.sectionVHRight > h2 {
  font-size: 56px;
  margin-top: 100px;
  margin-bottom: 50px; /* Добавляет отступ под заголовком */
}
.customList {
  list-style: none; /* Убираем стандартные маркеры */
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Две колонки равной ширины */
  gap: 20px; /* Расстояние между колонками и элементами списка */
  padding-left: 0; /* Убираем отступы */
}

.customList li {
  position: relative; /* Для позиционирования иконки */
  padding-left: 30px; /* Добавляем отступ, чтобы иконка не перекрывала текст */
  margin-bottom: 10px; /* Отступ между элементами списка */
  font-size: 16px;
}

.customList li::before {
  content: url("../../../public/img/SectionVH/Star6.png"); /* Замените на путь к вашей иконке */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%); /* Центрируем иконку по вертикали */
  width: 20px; /* Ширина иконки */
  height: 20px; /* Высота иконки */
}
